@import "../../../../styles.scss";
.error{
    display: block;
    color: $red;
}

h1{
    text-align: left;
    margin: 5px;
    width: 80%;
    margin: 0 auto;
}

form{
    padding: 10px;
    text-align: left;
    width: 80%;
    margin: 0 auto;

    label{
        // margin: 10px;
    }

    input, select {
        width: 100%;
    }

    button{
        padding: 5px;
        width: 100%;
        text-align: center;
        margin: 5px 0px 5px 0;
    }
}