$color-main-700 : #127045; //Load more color buttons
$color-main-650 : #1B9B05; //Main colour
$color-main-600 : #3e8518; //Main colour
$color-main-500 : #75c425;
$color-main-400 : #94ce28;
$color-main-350 : #D0EB51;
$color-main-300 : #91d83a;
$color-main-250-dark : #A1D330;
$color-main-250 : #B4ED49;
$color-main-200 : #c5e730;
$color-main-150 : #C7F17A;
$color-main-100 : #f1fcdd;
$color-main-50  : #f0fee9;
$white-100      : #fff;
$red            : #ce2b2bcc;